# removing binaries & extras 
*.out
hello
new
.vscode
*.exe
experimental
switch
MINI_CALCULATOR
loops
waste
ATM
project
file_handling
*.txt
tempCodeRunnerFile.cpp
BANK_SYSTEM
*.csv
*.env
extra files
array
pointer
references
struct
vectors
vectors2
library
tempCodeRunnerFile
vectors3
vector4
sort
find 
reverse
binary_search
binary_search_bounds
more_on_bounds
min_and_max
accumulate
lambda 
unique
newprojetc
remove
remove_if
replace 
copy_and_copy_if
fill 
pairs
array
deque
list
stack
queue
priority_queue
set 
unordered_set
C++ Cheatsheet.pdf
class
map
newproject
array_basics
thow_sum
max_array
linear_search
reversing_a_array
secondlargestelementinanarray
left_rotate_by_one_array
Remove_Duplicates_from_a_Sorted _Array
FrequencyOfAnElement