# removing binaries & extras 
*.out
hello
new
.vscode
*.exe
experimental
switch
MINI_CALCULATOR
loops
waste
ATM
project
file_handling
*.txt
*tempCodeRunnerFile.cpp
BANK_SYSTEM
*.csv
*.env
extra files
array
pointer
references
struct
vectors
vectors2
library
tempCodeRunnerFile
vectors3
vector4